div[page="p0"] {
    margin-left: 2rem;
    margin-right: 2rem;

    table {
        &.result-table {
            width: 100%;

            > tr {
                > th {
                    padding: 5px;
                }

                > td {
                    padding: 5px;
                }
            }
        }
    }
}