div[page="p0"] {
    margin-left: 2rem;
    margin-right: 2rem;

    table {
        &.result-table {
            width: 100%;

            > tr {
                > th:first-child {
                    min-width: 350px;
                }

                > td:first-child {
                    min-width: 350px;
                }
            }
        }
    }
}