body {
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 20rem;
    margin-right: 20rem;
}

table {
    border-style: none;
}

table.border, table.border > tr, table.border > tr > th, table.border > tr > td {
    border: 1px solid var(--color-dark);
    border-collapse: collapse;
}

