:root {
    --background: #FFF;
    --background-dark: #ede8e8;
    --color-dark: rgb(33, 33, 33);
    --color-dark-hover: rgb(71, 71, 71);
    --color-primary: #A4508B;
    --color-light: rgb(212, 212, 212);
}

body.--dark-mode {
    --background: #292929;
    --background-dark: #ffffff;
    --color-dark: rgb(212, 212, 212);
    --color-dark-hover: rgb(164, 164, 164);
    --color-light: rgb(33, 33, 33);
}