<div>
    <h1>
        <text>Netzwerk Protokolle</text>
    </h1>
    <div class="center-wrapper pb-50">
        <img src="assets/image/four_section_model.png"/>
    </div>
    <table class="border padding mt-50">
        <tr>
            <th colspan="2">
                <text>Anwendungsschicht</text>
            </th>
        </tr>
        <tr>
            <td>
                <b>
                    <text>DNS</text>
                </b>
                <br/>
                <text>Domain Name System</text>
            </td>
            <td>
                <text>Das Domain Name System, deutsch Domain-Namen-System, ist ein hierarchisch unterteiltes
                    Bezeichnungssystem in einem meist IP-basierten Netz zur Beantwortung von Anfragen zu Domain-Namen
                    (Namensauflösung)
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>DHCPv4</text>
                </b>
                <br/>
                <text>Dynamic Host Configuration Protocol</text>
            </td>
            <td>
                <text>Das Dynamic Host Configuration Protocol (DHCP) ist ein Kommunikationsprotokoll in der
                    Computertechnik. Es ermöglicht die Zuweisung der Netzwerkkonfiguration an Clients durch einen
                    Server. DHCP wurde im RFC 2131 definiert und bekam von der Internet Assigned Numbers Authority die
                    UDP-Ports 67 und 68 zugewiesen
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>SMTP</text>
                </b>
                <br/>
                <text>Simple Mail Transfer Protocol</text>
            </td>
            <td>
                <text>Das Simple Mail Transfer Protocol (SMTP, auf Deutsch etwa Einfaches E-Mail-Transportprotokoll) ist
                    ein Protokoll der Internetprotokollfamilie, das zum Austausch von E-Mails in Computernetzen dient.
                    Es wird dabei vorrangig zum Einspeisen und zum Weiterleiten von E-Mails verwendet. Zum Abholen von
                    Nachrichten kommen andere, spezialisierte Protokolle wie POP3 oder IMAP zum Einsatz. SMTP-Server
                    nehmen traditionell Verbindungen auf Port 25 („smtp“) entgegen
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>IMAP</text>
                </b>
                <br/>
                <text>Internet Message Access Protocol</text>
            </td>
            <td>
                <text>Das Internet Message Access Protocol (IMAP), ursprünglich Interactive Mail Access Protocol, ist
                    ein Netzwerkprotokoll, das ein Netzwerkdateisystem für E-Mails bereitstellt
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>HTTP</text>
                </b>
                <br/>
                <text>Hypertext Transfer Protocol</text>
            </td>
            <td>
                <text>Das Hypertext Transfer Protocol (HTTP, englisch für Hypertext-Übertragungsprotokoll) ist ein 1991
                    eingeführtes zustandsloses Protokoll zur Übertragung von Daten auf der Anwendungsschicht über ein
                    Rechnernetz. Es wird hauptsächlich eingesetzt, um Webseiten (Hypertext-Dokumente) aus dem World Wide
                    Web (WWW) in einen Webbrowser zu laden. Es ist jedoch nicht prinzipiell darauf beschränkt und auch
                    als allgemeines Dateiübertragungsprotokoll sehr verbreitet
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>HTTPS</text>
                </b>
                <br/>
                <text>Hypertext Transfer Protocol Secure</text>
            </td>
            <td>
                <text>Hypertext Transfer Protocol Secure (HTTPS, englisch für „sicheres
                    Hypertext-Übertragungsprotokoll“) ist ein Kommunikationsprotokoll im World Wide Web, mit dem Daten
                    abhörsicher übertragen werden können. Es stellt eine Transportverschlüsselung dar
                </text>
            </td>
        </tr>
    </table>

    <table class="border padding mt-50">
        <tr>
            <th colspan="2">
                <text>Transportschicht</text>
            </th>
        </tr>
        <tr>
            <td>
                <b>
                    <text>TCP</text>
                </b>
                <br/>
                <text>Transmission Control Protocol</text>
            </td>
            <td>
                <text>Das englisch Transmission Control Protocol (TCP, deutsch Übertragungssteuerungsprotokoll) ist ein
                    Netzwerkprotokoll, das definiert, auf welche Art und Weise Daten zwischen Netzwerkkomponenten
                    ausgetauscht werden sollen. Nahezu sämtliche aktuelle Betriebssysteme moderner Computer beherrschen
                    TCP und nutzen es für den Datenaustausch mit anderen Rechnern. Das Protokoll ist ein zuverlässiges,
                    verbindungsorientiertes, paketvermitteltes[1] Transportprotokoll in Computernetzwerken. Es ist Teil
                    der Internetprotokollfamilie, der Grundlage des Internets
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>UDP</text>
                </b>
                <br/>
                <text>User Datagram Protocol</text>
            </td>
            <td>
                <text>Das User Datagram Protocol (UDP) ist ein minimales, verbindungsloses Netzwerkprotokoll, das zur
                    Transportschicht der Internetprotokollfamilie gehört. UDP ermöglicht Anwendungen den Versand von
                    Datagrammen in IP-basierten Rechnernetzen
                </text>
            </td>
        </tr>
    </table>

    <table class="border padding mt-50">
        <tr>
            <th colspan="2">
                <text>Internetschicht</text>
            </th>
        </tr>
        <tr>
            <td>
                <b>
                    <text>IPv4</text>
                </b>
                <br/>
                <text>Internet Protokoll Version 4</text>
            </td>
            <td>
                <text>IPv4 (Internet Protocol Version 4), vor der Entwicklung von IPv6 auch einfach IP, ist die vierte
                    Version des Internet Protocols (IP). Es war die erste Version des Internet Protocols, welche
                    weltweit verbreitet und eingesetzt wurde, und bildet eine wichtige technische Grundlage des
                    Internets. Es wurde in RFC 791 im Jahr 1981 definiert
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>IPv6</text>
                </b>
                <br/>
                <text>Internet Protokoll Version 6</text>
            </td>
            <td>
                <text>Das Internet Protocol Version 6 (IPv6), früher auch Internet Protocol next Generation (IPng)
                    genannt, ist ein von der Internet Engineering Task Force (IETF) seit 1998 standardisiertes Verfahren
                    zur Übertragung von Daten in paketvermittelnden Rechnernetzen, insbesondere dem Internet
                </text>
            </td>
        </tr>
    </table>

    <table class="border padding mt-50">
        <tr>
            <th colspan="2">
                <text>Netzzugangsschicht</text>
            </th>
        </tr>
        <tr>
            <td>
                <b>
                    <text>Ethernet</text>
                </b>
            </td>
            <td>
                <text>Ethernet ist eine Technik, die Software (Protokolle usw.) und Hardware (Kabel, Verteiler,
                    Netzwerkkarten usw.) für kabelgebundene Datennetze spezifiziert, welche ursprünglich für lokale
                    Datennetze (LANs) gedacht war und daher auch als LAN-Technik bezeichnet wird. Sie ermöglicht den
                    Datenaustausch in Form von Datenframes zwischen den in einem lokalen Netz (LAN) angeschlossenen
                    Geräten (Computer, Drucker und dergleichen)
                </text>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    <text>ARP</text>
                </b>
                <br/>
                <text>Address Resolution Protocol</text>
            </td>
            <td>
                <text>Das Address Resolution Protocol (ARP) ist ein Netzwerkprotokoll, das zu einer Netzwerkadresse der
                    Internetschicht die physische Adresse (Hardware-Adresse) der Netzzugangsschicht ermittelt und diese
                    Zuordnung gegebenenfalls in den ARP-Tabellen der beteiligten Rechner hinterlegt. Es wird fast
                    ausschließlich im Zusammenhang mit IPv4-Adressierung auf Ethernet-Netzen, also zur Ermittlung von
                    MAC-Adressen zu gegebenen IP-Adressen verwendet, obwohl es nicht darauf beschränkt ist
                </text>
            </td>
        </tr>
    </table>
</div>
