<div>
    <h1>
        Java Grundkurs
    </h1>
    <p>
        Dies ist ein Simpler Java Grundkurs, er behandelt die grundlagen, aber auch viel theoretische Aspekte der
        Programmiersprache Java
    </p>
    <span><b>Author: </b>Christoph Koschel</span>

    <hr>

    <h2>Inhalt</h2>
    <ul>
        <li><a href="#jb-c1">Java, was ist das?</a></li>
        <li><a href="#jb-c2">Das OOP Konzept</a></li>
        <li><a href="#jb-c3">Expressions</a></li>
        <li><a href="#jb-c4">Statements</a></li>
        <li><a href="#jb-c5">Members</a></li>
        <li><a href="#jb-c6">Scopes</a></li>
        <li><a>More coming soon</a></li>
    </ul>

    <hr>

    <h2 id="jb-c1">Java, was ist das</h2>
    <p>Zu einem ist Java eine Object orientierte Programmiersprache (java-lang), jedoch gibt es auch eine
        Java-Virtual-Machine (kurz: JVM)<br>
        Was ist da jetzt aber der Unterschied?<br>
        Ist Java interpretiert oder kompiliert?

    </p>
    <p>
        Kurz gesagt gibt es Java in zwei Formen:<br>
        <b>Java Lang</b><br>
        Java als Programmiersprache ist eine <b>kompilierte</b> Sprache die <b>Java Bytecode (.class files)</b>
        generiert.<br>
        <b>Java Bytecode</b><br>
        Der generierte Bytecode wird dann von der JVM <b>interpretiert</b>.
        Dabei muss der Bytecode nicht umbedingt von der Sprache Java kommen.<br>
        Es gibt genau so andere Sprachen die Java Bytecode produzieren (z.B. Kotlin).
    </p>
    <p>
        Sie sehen man muss genau unterscheiden zwischen Java Lang und JVM.
    </p>

    <div class="block">
        <span>Unnötiges Wissen</span>
        <p>
            Java ist übrigens auch eine Insel in Indonesien
        </p>
    </div>

    <hr>

    <h2 id="jb-c2">Das OOP Konzept</h2>
    <p>
        Java hat das Object Orientierte Programmierparadigma<br>
        Aber was heißt das eigentlich?
    </p>

    <p>
        Beim OOP unterscheidet man hauptsächlich zwischen Klassen und deren Instanzen.<br>
        Stellen sie sich ein leeres Blatt vor. Sie zeichen auf dieses Blatt einen Würfel.
        Um diesen aber sauber zu zeichnen brauchen sie bestimmte Werte.<br>
        Beachten sie dabei auch die verschiedene Eigenschaften des Würfels (Ecken, Kanten, etc.).<br>
        Zu letzt bauen sie sich den Würfel, den sie auf das Blatt gezeichnet haben.
    </p>
    <p>
        Was sie hoffentlich gerade im Kopf durchgespielt haben, ist dass fundamentale Prinzip des OOPs.<br>
        Dabei müssen sie beachten das man ihren Würfel beliebig oft bauen kann. Zumindest so lang bis ihnen die Ressourcen ausgehen.<br>

        Kurz gesagt sie haben ein Bauplan (Klasse) geschaffen und konnten mit diesem mehrmals den gleichen Würfel bauen (Instanzen)
    </p>

    <p>
        Natürlich bestehen Klassen aus viel mehr jedoch ist das Prinzip fast immer das gleiche.
    </p>

    <hr>

    <h2 id="jb-c3">Expressions</h2>

</div>
