<div>
    <h1>
        <text>Simples Netzwerk</text>
    </h1>
    <div class="center-wrapper">
        <img src="assets/image/simple_network.png"/>
    </div>
    <div class="container">
        <p>
            <text>
                Um unterschiedliche IP-Netze miteinander zu verbinden brauche ich ein Gerät, welches dies auf der
                IP-Schicht auch erledigen kann. Daher fallen Bauteile, wie ein Hub oder ein Switch aus. Dies sind Geräte
                der unteren Schichten. Wir benötigen wieder einen Router! Das sollte eigentlich klar sein, denn Ihr
                Router zu Hause macht genau dasselbe, wie in dieser Übung: Er verbindet Netze miteinander.
            </text>
        </p>

        <p>
            <text>
                Ablauf/Richtlinien vom Erstellen des Netzwerkes
            </text>
        </p>
        <ul class="mini slash">
            <li>
                <text>Hostname des Routers und der Switches</text>
            </li>
            <li>
                <text>enable secret Passwort des Routers und der Switches</text>
            </li>
            <li>
                <text>Consolen Passwort des Routers und der Switches</text>
            </li>
            <li>
                <text>VTY-Zugang des Routers und der Switches</text>
            </li>
            <li>
                <text>Passwortverschlüsselung einschalten am Router und an den Switches</text>
            </li>
            <li>
                <text>Auflösung der Hostnamen ausschalten am Routers und an den Switches</text>
            </li>
            <li>
                <text>IP-Adressen des Routers setzen</text>
            </li>
            <li>
                <text>IP-Adressen und Default-Gateway setzen der PC's und des Servers</text>
            </li>
            <li>
                <text>Optional: Banner MOTD des Routers und der Switches</text>
            </li>
        </ul>
    </div>
</div>